<!DOCTYPE html>
<head lang="ko">
    <meta charset="utf-8" />
    <title>Socket IO</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
    <table id="messages" class="table table-striped">
        <tbody>
        <tr v-for="message in messages">
            <td>{{ message }}</td>
        </tr>
        </tbody>
    </table>

    <div class="footer navbar-fixed-bottom">
        <form @submit.prevent="sendMessage">
            <div class="input-group">
                <span class="input-group-addon">text</span>
                <input type="text" name="message" v-model="message" class="form-control"/>
            </div>
        </form>
    </div>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    <script>
        var socket = io();
        var messages = new Vue({
            el: '#messages',
            data: {
                messages: ["mocha", "127"]
            }
        });
        var form = new Vue({
            el: 'form',
            data: {
                message: ''
            },
            methods: {
                sendMessage: function () {
                    if (this.message === '') return;
                    socket.emit('chat message', this.message);
                    this.message = '';
                }
            }
        });
        socket.on('chat message', function (message) {
            messages.messages.push(message)
        });
    </script>
</body>